<div *ngIf="this.poll" class="container">
  <div class="question">
    <label for="poll">{{ poll.question }}</label>
  </div>

  <div class="questions">
    <div class="question-option" *ngFor="let option of poll.options">
      <label>
        <input
          type="radio"
          name="poll"
          value="{{ option.value }}"
          [(ngModel)]="selectedOption"
        />
        {{ option.label }}
      </label>
    </div>
  </div>
  <button class="vote" (click)="sendMessage()">Vote</button>
</div>
<div *ngIf="this.poll" class="container" class="w-50 mx-auto mb-3">
  <canvas
    baseChart
    [data]="getData()"
    [labels]="getLabels()"
    [chartType]="chartType"
    [options]="chartOptions"
    [plugins]="chartPlugins"
    [legend]="chartLegend"
    [colors]="chartColours"
  >
  </canvas>
</div>
<div *ngIf="this.poll" class="container w-50 mx-auto">
  <table class="table table-striped">
    <tr>
      <th>Option</th>
      <th>Votes</th>
    </tr>
    <tr *ngFor="let option of poll.options">
      <td>{{ option.label }}</td>
      <td>{{ option.votes }}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>{{ totalVotes() }}</td>
    </tr>
  </table>
</div>
