<div *ngIf="this.poll" class="container">
  <label class="question" for="poll">{{ poll.question }}</label>
  <div class="questions">
    <div class="question-option" *ngFor="let option of poll.options">
      <label>
        <input
          type="radio"
          name="poll"
          value="{{ option.value }}"
          [(ngModel)]="selectedOption"
        />
        {{ option.label }}
      </label>
    </div>
  </div>
  <button class="vote" (click)="sendMessage()">Vote</button>
</div>
<div *ngIf="this.poll" class="container" class="w-50 m-auto">
  <canvas
    baseChart
    [data]="getData()"
    [labels]="getLabels()"
    [chartType]="chartType"
    [options]="chartOptions"
    [plugins]="chartPlugins"
    [legend]="chartLegend"
    [colors]="chartColours"
  >
  </canvas>
</div>
