.container {
  width: max-content;
  min-width: 30%;
  margin: auto;
  margin-top: 1em;
}

.question {
  font-size: 2em;
  text-align: center;
  margin: auto;
  width: max-content;
}

.question-option {
  font-size: 1.2em;
  margin: auto;
  width: max-content;
}

.questions {
  margin-bottom: 1em;
}

.vote {
  background-color: #007888;
  color: white;
  border: none;
  width: 5em;
  height: 3em;
  margin: auto;
  display: block;
  margin-bottom: 2em;
}

.bottom-spacing {
  position: relative;
  margin-bottom: 500px;
}
